<div>
  <h1 class="text-center fw-bold">{{header}}</h1>

  <table class="m-auto mt-4">
    <tr>
      <th>Codigo</th>
      <th>Descripcion</th>
      <th>Precio</th>
      <th>Borrar</th>
      <th>Seleccionar</th>
    </tr>
    <tr *ngFor="let articulo of articulos; let i = index"
        [class.active]="i == index">
      <td>{{articulo.codigo}}</td>
      <td>{{articulo.description}}</td>
      <td>{{articulo.precio}}</td>
      <td>
        <button (click)="borrar(i)">Borrar?</button>
      </td>
      <td>
        <button (click)="seleccionar(i)">Seleccionar</button>
      </td>
    </tr>
  </table>

  <div class="ms-5">
    <div class="mb-3">
      <label class="me-2">Codigo: </label>
      <input [(ngModel)]="codigo"/>
    </div>
    <div class="mb-3">
      <label class="me-2">Description</label>
      <input [(ngModel)]="description"/>
    </div>
    <div class="mb-3">
      <label class="me-2">Precio</label>
      <input [(ngModel)]="precio"/>
    </div>
    <button (click)="agregar()">Agregar</button>
    <button class="me-2 ms-2" (click)="modificar(index)">Modificar</button>
    <button (click)="clear()">Clear</button>
  </div>
</div>
